@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pink: #ff006e;
  --color-purple: #8338ec;
  --color-blue: #3a86ff;
  --gradient: linear-gradient(
    90deg,
    var(--color-pink),
    var(--color-purple),
    var(--color-blue)
  );
}

body {
  font-family: 'Inter', sans-serif !important;
  color: gray !important;
  position: relative;
}
