@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pink: #ff006e;
  --color-purple: #8338ec;
  --color-blue: #3a86ff;
  --gradient: linear-gradient(
    90deg,
    var(--color-pink),
    var(--color-purple),
    var(--color-blue)
  );
}

body {
  font-family: 'Rubik', sans-serif !important;
  color: var(--color-pink);
  position: relative;
}
